attr
attrs
ConfigParser
cryptography
Cython
dl
HTMLParser
ipython
ipywidgets
keyring
lockfile
matplotlib
numpy
Pillow
protobuf
pyOpenSSL
railroad
Sphinx
# tensorflow-macos
tensorflow
tornado
trove_classifiers
urllib3_secure_extra
