attr
attrs
ConfigParser
cryptography
Cython
dl
HTMLParser
ipython
ipywidgets
keyring
lockfile
matplotlib
numpy
Pillow
protobuf
pyOpenSSL
railroad
Sphinx
tensorflow-macos
tornado
trove_classifiers
truststore
urllib3_secure_extra
